.Footer {
  width: 100%;
  line-height: 2.2rem;
  margin-top: 5rem;
  padding: 0 10rem;

  background-color: #444444;
  color: #fefefe;

  display: flex;
  flex-direction: column;
}

.FooterContent {
  font-size: 1.6rem;
  margin: 3rem 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.FooterColumn {
  display: flex;
  flex-direction: column;
}

.FooterLine {
  margin-bottom: 2rem;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.FooterCopyright {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
}

.FooterCopyright a {
  color: inherit;
  text-decoration: none;
  margin-left: 2px;
}

.Language {
  cursor: pointer;
}