.Header {
  background-color: #ffffff;
  color: grey;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 11rem;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.LogoHolder {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Logo {
  width: 28rem;
  margin: 4.5rem 3px 0 3px;
}

.LogoLineLeft {
  width: 10rem;
  margin-top: 4.5rem;
  border-top: 2px solid #f0273a;
}

.LogoLineRight {
  flex: 1;
  margin-top: 10rem;
  border-top: 2px solid #f0273a;
}

.TopMenu {
  margin: 70px auto 0 48rem;
  /* border: 1px solid grey; */
}

.TopMenuContent {
  display: flex;
  list-style: none;
  color: #4e4d4e;
}

.TopMenuContent li {
  padding: 0 7px;
  font-size: 2rem;
}