.Header {
  color: #4e4d4e;
  background-color: #ffffff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  height: 11rem;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.LogoHolder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: flex;
  width: 100%;
}

.Logo {
  width: 28rem;
  margin: 4.5rem 3px 0 3px;
}

.LogoLineLeft {
  width: 10rem;
  margin-top: 4.5rem;
  border-top: 2px solid #f0273a;
}

.LogoLineRight {
  flex: 1;
  margin-top: 10rem;
  border-top: 2px solid #f0273a;
}

.TopMenu {
  margin: 70px auto 0 48rem;
  /* border: 1px solid grey; */
}

.TopMenuContent {
  list-style: none;

  display: flex;
}

.TopMenuContent li {
  font-size: 2rem;
  padding: 0 7px;
  cursor: pointer;
}

.LogoYear {
  font-size: 1rem;
  position: absolute;
  top: 8.5rem;
  right: 1rem;
}

.Language {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.1rem;
}

.Language img {
  width: 2rem;
  margin-left: 4px;
  cursor: pointer;
}